#red {
    background-color: red;
    display: block;
    min-height: 100px;
    min-width: 100px;
}
@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}